/******* SERVIZI ***/

#sezione-elenco-servizi a {
    color: var(--secondary-dark);
    text-decoration: none;
    cursor: pointer;
}
#sezione-elenco-servizi a:hover {
    color: var(--secondary);
}
#sezione-elenco-servizi a:active {
    color: var(--secondary-light);
}

#elenco-servizi li {
    padding: 1em 0.5em;
}